body {
  font-family: roboto, sans-serif;
  width: 375px;
  margin: auto;
  color: black;
}

h1 {
  font-family: shrikhand;
  font-weight: 500;
  font-size: 33px;
  text-align: center;
  color: black;
  padding-top: 10px;
  padding-bottom: 5px;
  margin: 0;
}

footer {
  background-color: #353535;
  color: #fff;
  margin-top: 0;
  padding-bottom: 1em;
}
footer h3 {
  font-family: shrikhand;
  font-weight: 300;
  font-size: 18px;
  margin-left: 1.5em;
  margin-top: 0;
  padding-top: 1em;
}
footer li {
  margin-top: 0.5em;
  list-style-type: none;
}
footer i {
  margin-right: 1em;
  font-size: 12px;
}
footer a {
  color: white;
  text-decoration: none;
}

.secondary_header a {
  width: 100%;
  display: flex;
  align-items: center;
  text-decoration: none;
}
.secondary_header a:visited {
  color: black;
}
.secondary_header a i {
  color: black;
  font-size: 22px;
  opacity: 0.8;
  margin-left: 0.8em;
}
.secondary_header a h1 {
  margin-left: 50px;
  padding: 20px;
}

@keyframes translate-Y-heart {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
  }
}
@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes translate-selection {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes check-rotate {
  0% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.loader {
  width: 200px;
  height: 200px;
  margin: auto;
  background-color: #f6f6f6;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 5px solid #f6f6f6;
  border-radius: 50%;
  border-top: 5px solid #9356DC;
  animation: spinner 1500ms ease-in-out infinite;
  font-family: "shrikhand";
  color: #9356DC;
  opacity: 0.7;
}

@keyframes translate-Y-heart {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
  }
}
@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes translate-selection {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes check-rotate {
  0% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
nav {
  width: 350px;
  counter-reset: li;
}
nav h3 {
  font-size: 22px;
  margin-left: 1em;
}
nav li {
  display: flex;
  align-items: center;
  margin-top: 2em;
  background-color: #f6f6f6;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 2px 2px 7px #dfdfdf;
  font-size: 14px;
  font-weight: 600;
  list-style-type: none;
  transform: scale(1);
  transition: transform 0.25s ease-in-out;
}
nav li:hover {
  transform: scale(1.05);
  background-color: #f2eafb;
}
nav li:hover i {
  color: #9356DC;
}
nav li:focus {
  transform: scale(1);
  background-color: lighten #9356DC, 35;
}
nav li::before {
  counter-increment: li;
  content: counter(li);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f6f6f6;
  font-size: 11px;
  width: 2em;
  height: 2em;
  border-radius: 50%;
  background-color: #9356DC;
  margin-left: -2em;
}
nav a {
  color: black;
  text-decoration: none;
}
nav i {
  margin-right: 1.5em;
  margin-left: 1em;
  color: #7d7d7d;
}

@keyframes translate-Y-heart {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
  }
}
@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes translate-selection {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes check-rotate {
  0% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.btn {
  margin-top: 0.5em;
  padding: 15px 30px;
  border-radius: 25px;
  border: none;
  box-shadow: 5px 2px 5px #c4c4c4;
  font-size: 15px;
  background-color: #9356DC;
  background-image: linear-gradient(to bottom right, #FF79DA, #9356DC);
  color: #fff;
  font-weight: 600;
  transform: scale(1);
  transition: transform 0.5s;
}
.btn:hover {
  transform: scale(1.2);
}

.btn__menu {
  margin-bottom: 2em;
  padding-left: 3em;
  padding-right: 3em;
  margin-left: 6em;
}

.restaurant i {
  opacity: 0.5;
  font-size: 25px;
  margin-right: 25px;
}
.restaurant i:hover {
  opacity: 0.7;
  font-weight: bold;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  background-image: linear-gradient(to top, #FF79DA, #9356DC);
}
.restaurant i:hover::after {
  content: "";
  position: absolute;
  height: 25px;
  width: 25px;
  right: 25px;
  animation: translate-Y-heart 1000ms ease-out forwards;
  background: #fff;
}
.restaurant i:focus {
  font-weight: bold;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  background-image: linear-gradient(to top, #FF79DA, #9356DC);
}

.menu__title i {
  font-size: 25px;
  opacity: 0.5;
}
.menu__title i:hover {
  opacity: 0.7;
  font-weight: bold;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  background-image: linear-gradient(to top, #FF79DA, #9356DC);
}
.menu__title i:hover::after {
  content: "";
  position: absolute;
  height: 25px;
  width: 25px;
  left: 87.4%;
  animation: translate-Y-heart 1000ms ease-out forwards;
  background: #f6f6f6;
}
.menu__title i:focus {
  font-weight: bold;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  background-image: linear-gradient(to top, #FF79DA, #9356DC);
}

.geosearch {
  width: 100%;
  background-color: #f6f6f6;
  text-align: center;
  height: 20.8rem;
}

.searchbar {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom, #cecece, #e8e8e8, #eaeaea, #eaeaea, #eaeaea, #eaeaea, #eaeaea);
  padding-top: 10px;
  padding-bottom: 10px;
}
.searchbar i {
  font-size: 16px;
  color: #353535;
}
.searchbar #search_bar {
  border: none;
  background-color: #ebebeb;
  height: 20px;
}
.searchbar #search_bar::placeholder {
  font-weight: bold;
  font-size: large;
  font-size: 16px;
  font-weight: 600;
  color: #353535;
  opacity: 0.96;
  padding-left: 11px;
}
.searchbar #search_bar:focus {
  outline: none;
  color: #353535;
  font-weight: bold;
  font-size: 16px;
}
.searchbar #search_bar:focus::placeholder {
  opacity: 0;
}

.geosearch h2 {
  font-weight: 900;
  font-size: 26px;
  margin: 35px 35px 0px 35px;
}

.geosearch p {
  margin-top: 10px;
  font-size: 18px;
  font-weight: 400;
  color: #575757;
}

.restaurant {
  background-color: #f6f6f6;
  margin-bottom: 0;
  padding-bottom: 2em;
}
.restaurant h2 {
  padding-top: 2em;
  padding-left: 1em;
  font-size: 24px;
}
.restaurant img {
  object-fit: cover;
  object-position: center;
  overflow: hidden;
  border-radius: 20px 20px 0 0;
}
.restaurant figure {
  position: relative;
  left: -27px;
  border-radius: 20px;
  box-shadow: 2px 2px 7px #dfdfdf;
  border: none;
  background-color: #fff;
  display: flex;
  flex-direction: column-reverse;
  width: 350px;
  height: 250px;
}
.restaurant figcaption {
  display: flex;
  justify-content: space-between;
  height: 75px;
  padding-left: 1em;
}
.restaurant figcaption p {
  margin-top: 0;
}
.restaurant figcaption h3 {
  margin-bottom: 5px;
  margin-top: 10px;
}
.restaurant a {
  text-decoration: none;
  color: black;
}
.restaurant a:visited {
  color: black;
}
.restaurant i {
  margin-top: 25px;
}
.restaurant .new_sticker {
  position: absolute;
  top: 15px;
  right: 15px;
  background-color: #99E2D0;
  font-size: 15px;
  font-weight: 600;
  color: #0f9071;
  padding: 5px 12px;
  border-radius: 2px;
}

#menu__img {
  width: 375px;
}

.menu {
  background-color: #f6f6f6;
  margin-top: -3em;
  width: 375px;
  border-radius: 25px 25px 0 0;
  position: relative;
}
.menu .menu__title {
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-family: "shrikhand";
}
.menu .menu__title h2 {
  font-size: 28px;
}
.menu .menu__options {
  margin-top: 1em;
}
.menu h3 {
  margin-top: 0;
  margin-left: 0.8em;
  opacity: 0.9;
  font-weight: 400;
  border-bottom: 3px solid #99E2D0;
  font-size: 16px;
  padding-bottom: 5px;
  width: 11%;
}
.menu .dish {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  border-radius: 15px;
  width: 350px;
  height: 60px;
  color: black;
  margin-top: 0.8em;
  margin-left: 0.8em;
  box-shadow: 2px 2px 7px #dfdfdf;
  padding-top: 0.5em;
  overflow: hidden;
  animation: fadeInAnimation ease 2000ms;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
.menu .dish .dish__name {
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu .dish .dish__name .dish__name--title {
  margin: 0 0 0 0.8em;
}
.menu .dish .dish__name .dish__name--description {
  margin: 5px 13px 0 13px;
  display: flex;
  justify-content: space-between;
  font-size: 14.5px;
  font-weight: 400;
  opacity: 0.8;
}
.menu .dish .dish__price {
  font-weight: bold;
  opacity: 0.8;
  margin-right: 0.5em;
}
.menu .dish .dish__visible {
  width: 340px;
  display: flex;
  justify-content: space-between;
}
.menu .dish .dish__selected--icon {
  opacity: 0;
  width: 0;
  font-size: 25px;
  color: #fff;
}
.menu .dish .dish__selected--icon:hover {
  opacity: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  background-color: #99E2D0;
  font-weight: bold;
  font-size: 25px;
  width: 70px;
  height: 68px;
  border-radius: 0 15px 15px 0;
  position: relative;
  top: -4px;
  animation: translate-selection 500ms ease-in-out forwards;
}
.menu .dish .dish__selected--icon:hover i {
  animation: check-rotate 500ms ease-in-out 200ms forwards;
}

/*# sourceMappingURL=main.css.map */
