body {
  font-family: roboto, sans-serif;
  width: 375px;
  margin: auto;
  color: black;
}

h1 {
  font-family: shrikhand;
  font-weight: 500;
  font-size: 33px;
  text-align: center;
  color: black;
  padding-top: 10px;
  padding-bottom: 5px;
  margin: 0;
}

h4 {
  font-size: 18px;
}

footer {
  background-color: #353535;
  color: #fff;
  margin-top: 0;
  padding-bottom: 2em;
}
footer h3 {
  font-family: shrikhand;
  font-weight: 300;
  font-size: 18px;
  margin-left: 1.5em;
  margin-top: 0;
  padding-top: 1em;
}
footer li {
  padding-top: 0.3em;
  list-style-type: none;
}
footer i {
  margin-right: 1em;
  font-size: 12px;
}
footer a {
  color: white;
  text-decoration: none;
}

header {
  border: 3px solid;
  border-image: linear-gradient(0deg, #cdcdcd, #eaeaea) 0.5;
  border-left: none;
  border-top: none;
  border-right: none;
}

.secondary_header {
  border: none;
}
.secondary_header a {
  width: 100%;
  display: flex;
  align-items: center;
  text-decoration: none;
}
.secondary_header a:visited {
  color: black;
}
.secondary_header a i {
  color: black;
  font-size: 22px;
  opacity: 0.8;
  margin-left: 0.8em;
}
.secondary_header a h1 {
  margin-left: 50px;
  padding: 20px;
}

nav {
  width: 350px;
  counter-reset: li;
}
nav h3 {
  font-size: 22px;
  margin-left: 1em;
}
nav li {
  display: flex;
  align-items: center;
  margin-top: 2em;
  background-color: #f6f6f6;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 2px 2px 7px #dfdfdf;
  font-size: 14px;
  font-weight: 600;
  list-style-type: none;
  transform: scale(1);
  transition: transform 0.2s;
}
nav li:hover {
  transform: scale(1.15);
  background-color: #9356DC;
}
nav li:active {
  background-color: #9356DC;
}
nav li::before {
  counter-increment: li;
  content: counter(li);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f6f6f6;
  font-size: 11px;
  width: 2em;
  height: 2em;
  border-radius: 50%;
  background-color: #9356DC;
  margin-left: -2em;
}
nav a {
  color: black;
  text-decoration: none;
}
nav i {
  margin-right: 1.5em;
  margin-left: 1em;
  color: #7d7d7d;
}
nav i:hover {
  color: #9356DC;
}

.btn {
  margin-top: 0.5em;
  padding: 15px 30px;
  border-radius: 25px;
  border: none;
  box-shadow: 5px 2px 5px #c4c4c4;
  font-size: 15px;
  background-color: #9356DC;
  background-image: linear-gradient(to bottom right, #FF79DA, #9356DC);
  color: #fff;
  font-weight: 600;
  transform: scale(1);
  transition: transform 0.5s;
}
.btn:hover {
  transform: scale(1.2);
}

.btn_menu {
  margin-bottom: 2em;
  padding-left: 3em;
  padding-right: 3em;
  margin-left: 6em;
}

.geosearch {
  width: 100%;
  background-color: #f6f6f6;
  text-align: center;
  height: 20.8rem;
}

.searchbar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eaeaea;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: large;
  color: #2e2e2e;
}
.searchbar i {
  font-size: 16px;
}
.searchbar #search_bar {
  margin-left: 10px;
  border: none;
  background-color: #ebebeb;
  height: 20px;
}
.searchbar #search_bar:focus {
  outline: none;
}
.searchbar #search_bar::placeholder {
  font-size: 16px;
  font-weight: 600;
  color: #373737;
  opacity: 0.96;
  padding-left: 11px;
}

.geosearch h2 {
  font-weight: 900;
  font-size: 26px;
  margin: 35px 35px 0px 35px;
}

.geosearch p {
  margin-top: 10px;
  font-size: 18px;
  font-weight: 400;
  color: #575757;
}

.restaurant {
  background-color: #f6f6f6;
  margin-bottom: 0;
  padding-bottom: 2em;
}
.restaurant h2 {
  padding-top: 2em;
  padding-left: 1em;
  font-size: 24px;
}
.restaurant img {
  object-fit: cover;
  object-position: center;
  overflow: hidden;
  border-radius: 20px 20px 0 0;
}
.restaurant figure {
  position: relative;
  left: -27px;
  border-radius: 20px;
  box-shadow: 2px 2px 7px #dfdfdf;
  border: none;
  background-color: #fff;
  display: flex;
  flex-direction: column-reverse;
  width: 350px;
  height: 250px;
}
.restaurant figcaption {
  display: flex;
  justify-content: space-between;
  height: 75px;
  padding-left: 1em;
}
.restaurant figcaption p {
  margin-top: 0;
}
.restaurant figcaption h3 {
  margin-bottom: 5px;
  margin-top: 10px;
}
.restaurant a {
  text-decoration: none;
  color: black;
}
.restaurant a:visited {
  color: black;
}
.restaurant i {
  font-size: 25px;
  margin-right: 25px;
  margin-top: 25px;
}
.restaurant .new_sticker {
  position: absolute;
  top: 15px;
  right: 15px;
  background-color: #99E2D0;
  font-size: 15px;
  font-weight: 600;
  color: #0f9071;
  padding: 5px 12px;
  border-radius: 2px;
}

.menu {
  background-color: #f6f6f6;
}
.menu img {
  width: 375px;
  padding-bottom: 20px;
  margin-bottom: 2em;
  display: flex;
  flex-direction: column;
}
.menu .menu_title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: shrikhand;
  margin-left: 0.8em;
  margin-right: 2em;
}
.menu .menu_title h2 {
  font-size: 28px;
}
.menu .menu_title i {
  font-size: 25px;
  opacity: 0.7;
}
.menu h3 {
  margin-top: 0;
  margin-left: 0.8em;
  opacity: 0.9;
  font-weight: 400;
  border-bottom: 3px solid #99E2D0;
  font-size: 16px;
  padding-bottom: 5px;
  width: 11%;
}
.menu a {
  text-decoration: none;
}
.menu figure {
  background-color: #fff;
  border-radius: 15px;
  width: 350px;
  height: 60px;
  color: black;
  margin-left: 0.8em;
  box-shadow: 2px 2px 7px #dfdfdf;
  padding-top: 0.5em;
}
.menu figure h4 {
  margin: 0 0 0 0.8em;
}
.menu figure p {
  margin: 5px 13px 0 13px;
  display: flex;
  justify-content: space-between;
  font-size: 14.5px;
  font-weight: 400;
  opacity: 0.8;
}
.menu figure:visited {
  color: black;
}

/*# sourceMappingURL=main.css.map */
