.btn{
    margin-top: 0.5em;
    padding: 15px 30px;
    border-radius: 25px;
    border: none;
    box-shadow: 5px 2px 5px #c4c4c4;
    font-size:15px;
    background-color: #9356DC ;
    color: #fff;
    font-weight: 500;
}