//heart animation setting for Homepage

.restaurant{
    i{  
        font-size: 25px;       
        opacity: .5;         
        margin-right: 25px; 
        &:hover{
            opacity: .7;
            font-weight: bold;
            color: transparent;
            background-clip: content-box;
            -webkit-background-clip: text;
            background-image: linear-gradient(to top, $secondary_pink, $primary_purple);
            &::after{
                content: "";
                position: absolute;
                height: 25px;
                width: 25px;
                right: 25px;             
                animation: translate-Y-heart 1000ms ease-out forwards;             
                background:#fff;
            }        
        }
        &:focus{
            font-weight: bold;
            color: transparent;
            background-clip: content-box;
            -webkit-background-clip: text;
            background-image: linear-gradient(to top, $secondary_pink, $primary_purple);        
        }   
    } 
}

//Heart animation settings for menu pages

.menu__title{
    .heart{
        i{
            font-size: 25px;
            opacity: .5;
            position: relative;
            &:hover{
                opacity: .7;
                font-weight: bold;
                color: transparent;
                background-clip: content-box;
                -webkit-background-clip: text;
                background-image: linear-gradient(to top, $secondary_pink, $primary_purple);  
                &::after{
                    content: "";
                    position: absolute;
                    height:25px;
                    width: 25px;
                    left: 0;
                    animation: translate-Y-heart 1000ms ease-out forwards;            
                    background: $bg_grey;                   
                }
            }
            &:focus{
                font-weight: bold;
                color: transparent;
                background-clip: content-box;
                -webkit-background-clip: text;
                background-image: linear-gradient(to top, $secondary_pink, $primary_purple);                
            }
        }
    }
}