
.restaurant{
    i{         
        opacity: .5;   
        font-size: 25px;
        margin-right: 25px; 
        
        
//use pointer-events to make it fill but no clic!!!!

        &:hover{
            opacity: .7;
            font-weight: bold;
            color: transparent;
            background-clip: text;
            -webkit-background-clip: text;
            background-image: linear-gradient(to top, $secondary_pink, $primary_purple);
            &::after{
                content: "";
                position: absolute;
                height: 25px;
                width: 25px;
                right: 25px;             
                animation: translate-Y-heart 1000ms ease-out forwards;             
                background:#fff;
                }        
            }
            &:active{
                pointer-events:none;
                font-weight: bold;
                color: transparent;
                background-clip: text;
                -webkit-background-clip: text;
                background-image: linear-gradient(to top, $secondary_pink, $primary_purple);         
            
            }   
    } 
}

// figure out why menu heart icon animation moves with screen change!!!!


.menu__title{
    .heart{
    i{
        font-size: 25px;
        opacity: 0.5;
        position: relative;
            &:hover{
                opacity: 0.7;
                font-weight: bold;
                color: transparent;
                background-clip: text;
                -webkit-background-clip: text;
                background-image: linear-gradient(to top, $secondary_pink, $primary_purple);  
                &::after{
                    content: "";
                    position: absolute;
                    height:25px;
                    width: 25px;
                    left: 0;
                    animation: translate-Y-heart 1000ms ease-out forwards;            
                    background: $bg_grey;
                    
                    
                }
            }
            

            &:focus{
                font-weight: bold;
                color: transparent;
                background-clip: text;
                -webkit-background-clip: text;
                background-image: linear-gradient(to top, $secondary_pink, $primary_purple);
                
            }
    }
}
}
