




body{
    font-family: roboto, sans-serif;
    width: 375px;
    margin: auto;
    color: black;
   
}

h1{
    font-family: shrikhand;
    font-weight: 500;
    font-size: 33px;
    text-align: center;
    color: black;
    padding-top: 10px;
    padding-bottom: 5px;
    margin: 0;
    
}

