

.menu {
    background-color: $bg_grey;
    img{
    width: 375px;
    padding-bottom: 20px;
    margin-bottom: 2em;
    display: flex;
    flex-direction: column;
    
    }

   
    .menu_title{
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-family: shrikhand;
        margin-left: 0.8em;
        margin-right: 2em;
        
        h2{
            font-size: 28px;
            
        }
        
    }

    h3{
        margin-top: 0;
        margin-left: 0.8em;
        opacity: 0.9;
        font-weight: 400;
        border-bottom: 3px solid $tertiary_green;
        font-size: 16px;
        padding-bottom: 5px;
        width: 11%;
       
    }

    a{
        text-decoration: none; 

    }
    
    
    figure{
        background-color: #fff;
        border-radius: 15px;
        width: 350px;
        height: 60px;
        color: black;
        margin-left: 0.8em;
        box-shadow: 2px 2px 7px #dfdfdf;
        padding-top: 0.5em;
        h4{
            margin: 0 0 0 0.8em;
            
            
        }
        p{
            margin: 5px 13px  0 13px;
            display: flex;
            justify-content: space-between;
            font-size: 14.5px;
            font-weight: 400;
            opacity: 0.8;
        }
        
        
        &:visited{
            color: black;
        }
    } 

    
}