



#menu__img{
        width: 375px;       
    }

.menu {
    background-color: $bg_grey;
    margin-top: -3em;
    width: 375px;        
    border-radius: 25px 25px 0 0;
    position: relative;
    

    .menu__title{  
               
        display: flex;    
        align-items: center;
        justify-content: space-around;
        font-family: $shrikhand;
        
        
        h2{
            font-size: 28px;            
        }
     }
    
    .menu__options{
        margin-top: 1em;
        
    } 
    
    h3{
        margin-top: 0;
        margin-left: 0.8em;
        opacity: 0.9;
        font-weight: 400;
        border-bottom: 3px solid $tertiary_green;
        font-size: 16px;
        padding-bottom: 5px;
        width: 11%;       
    }
    
    .dish{
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: #fff;
        border-radius: 15px;
        width: 350px;
        height: 60px;
        color: black;
        margin-top: .8em;
        margin-left: 0.8em;
        box-shadow: 2px 2px 7px #dfdfdf;
        padding-top: 0.5em;        
        overflow: hidden;

        animation: fadeInAnimation ease 2000ms;
            animation-iteration-count: 1;
            animation-fill-mode: forwards;
        
        .dish__name{
            
            overflow: hidden;
            
            text-overflow: ellipsis;
            
            
            
            .dish__name--title{
                margin: 0 0 0 0.8em; }

            .dish__name--description{
                margin: 5px 13px 0 13px;
                display: flex;
                justify-content: space-between;
                font-size: 14.5px;
                font-weight: 400;
                opacity: 0.8;
                
                
                
            } 
        }
        .dish__price{
            font-weight: bold;
            opacity: .8;
            margin-right: .5em;
            
        }
        .dish__visible{
            width: 340px;
            display: flex;
            justify-content: space-between;
           
            
        }

        .dish__selected--icon{
            opacity: 0;
            width: 0;
            font-size: 25px;
            color: #fff;
                      

            &:hover{
            opacity: 1;
            display:flex;
            justify-content: center;
            align-items: center;
            color: #fff;
            background-color: $tertiary_green;
            font-weight: bold;
            font-size: 25px;
            width: 70px;
            height: 68px;
            border-radius: 0 15px 15px 0;
            position: relative;
            top: -4px;
            animation: translate-selection 500ms ease-in-out forwards;
            i{
            
            animation: check-rotate 500ms ease-in-out 200ms forwards;
            
            
            
            }

            }


        }
    }
}


