@mixin mobile-only {
    @media screen and (max-width:map-get($breakpoints, mobile)){
        width: 100%;
    }
    
}

@mixin tablet-only {
    @media screen and (max-width:map-get($breakpoints, tablet)){
        width:100%;
        nav{
            width: 100%;
            li{
                margin-right: 2em;
            }
        }
        .restaurant_list {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: center;
            flex-wrap: wrap;

            figure{
                margin-right: 0;
                width: 320px;
            }
        }
        footer{
            h3{
                text-align: center;
            }
            ul{
                display: flex;
                justify-content: space-around;
            }
        }
        
    }
}

@mixin desktop-only {
    @media screen and (max-width:map-get($breakpoints, desktop)) {
        
    }
    
}