

@mixin tablet-only {
    @media screen and (min-width:map-get($breakpoints, tablet)){
    
        width:100%;
        nav{
            width:auto;
            ol{
                display: flex;
                flex-direction: row;
                justify-content: center;
            }
            li{
                margin-right: 2em;
                display: flex;
            }
        }     
        
        footer{
            h3{
                text-align: center;
            }
            ul{
                display: flex;
                justify-content: space-around;
            }
        }

        
    }      
}

@mixin desktop-only {
    @media screen and (max-width:map-get($breakpoints, desktop)) {
        .restaurant_list{
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
        }
        
    }
    
}