//Mixins and details for various responsive changes

@mixin tablet-only {
    @media screen and (min-width:map-get($breakpoints, tablet)){
    
        
        nav{
            width:auto;
            ol{
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                padding-left: 1em;
            }
            li{
                margin-right: 2em;
                width: 25%;
            }
        } 
       .restaurant{
           .restaurant_list{            
               a{
                   width: 40%;
                   margin-left: 0;
                   margin-right: 0;
               }
           }
       }       
        footer{
            h3{
                text-align: center;
            }
            ul{
                display: flex;
                justify-content: space-around;
            }
        }
        .secondary_header{
            a{  
                 display: flex;
                 justify-content: center;              
        
           } 
        }
        
        .menu{
            width: auto;
            padding-bottom: 4em;

            .menu__title{
                display: flex;
                justify-content: flex-start;
                margin-left: 2em;
                h2{
                    margin-right: 3em;
                }
            }

            h3{
                margin-left: 2em;
            }
            
            
            .btn{
                margin: 4em auto auto auto;
                display: flex;
                justify-content: center;
            }
        }
    }           
}


@mixin large-tablet-only {
    @media screen and (min-width:map-get($breakpoints, large-tablet)){  
        
        .menu{
            .menu__courses{
                display: flex;
                flex-direction: row;
                justify-content: center;
                .menu__options{
                    width: 33%;
                }
            }
        }
    }
}