//colors

$bg_grey: #f6f6f6;
$primary_purple: #9356DC;
$secondary_pink: #FF79DA;
$tertiary_green: #99E2D0;

//keyframes

@keyframes translate-Y-heart{
    0%{
        transform: translateY(0);
    }
    100%{
        transform: translateY(-100%);
    }
}

@keyframes loader-scale{
    0%{
        transform: scale(.5);
    }
    100%{
        transform: rotate(1);
    }
}

@keyframes loading-transition{
   0%{opacity: 1;
    z-index: 1000;
}
   70%{opacity:1;
    z-index: 1000;
}
    100%{opacity: 0;
    z-index: -10;
}

}

@keyframes translate-selection{
    0%{transform: translateX(100%);}
    100%{transform: translateX(0);}
}

@keyframes check-rotate{
    0%{transform: rotate(180deg);}
    100%{transform: rotate(360deg);}
}

@keyframes fadeInAnimation{
    0%{
        opacity:0;
        transform: translate3d(0, -50%, 0);
    }
    100%{
        opacity:1;
        transform: none;
    }
}