footer{
    background-color: #353535;
    color: #fff;
    margin-top: 0;
    padding-bottom: 2em;
    h3{
        font-family: shrikhand;
        font-weight: 300;
        font-size: 18px;
        margin-left: 1.5em;
        margin-top: 0;
        padding-top: 1em;
    }
    li{
        padding-top: 0.3em;
        list-style-type: none;
    }
    i{
    margin-right: 1em;
    font-size: 12px;
    }
    a{
        color: white;
        text-decoration: none;
    }
}