h1{
    font-family: shrikhand;
    font-weight: 500;
    font-size: 33px;
    text-align: center;
    color: black;
    padding-top: 10px;
    padding-bottom: 5px;
    margin: 0;
    
}

.secondary_header {
    a{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    
    
    &:visited{
        color: black;
    }

    i{   position: absolute;
        left: 1em;     
        color: black;
        font-size: 22px;
        opacity: .8;
        margin-left: 0.8em;
    }
    h1{
        
        padding: 20px;

    }
  }
}