@import "../utils/variables";

nav{
    width: 100%;
    counter-reset: li;
    ol{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0;
    }
    
    h3{
        font-size: 22px;
        margin-left: 1em;
    }

    li {
        width: 240px;
       display: flex;
       align-items: center;       
       margin-top: 2em;
       background-color: #f6f6f6;
       padding: 20px ;  
       border-radius: 20px;  
       box-shadow: 2px 2px 7px #dfdfdf;
       font-size: 14px;
       font-weight: 600;
       list-style-type: none;  
       transform: scale(1);
       transition: transform 0.25s ease-in-out;       
       &:hover{
           cursor: pointer;
           transform: scale(1.05);
           background-color: lighten($primary_purple, 35);
           i{
            color: $primary_purple;
           }           
        } 
       &:focus{
           transform: scale(1);
           background-color: lighten($primary_purple, 35);           
       }      
    }

    li::before {
        counter-increment: li;
        content:counter(li);       
        display: flex;
        justify-content: center;
        align-items: center;
        color: #f6f6f6;
        font-size: 11px;
        width: 2em;
        height: 2em;
        border-radius: 50%;
        background-color: $primary_purple;
        margin-left: -2em;        
    }

    

    i{
        margin-right: 1.5em;
        margin-left: 1em;
        color:#7d7d7d;
        
          
    }    
  
}

