@import "../utils/variables";    

//Loader

.loader {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    background:linear-gradient(to bottom right, $secondary_pink, $primary_purple);
    display: flex;            
    align-items: center;
    justify-content: center;                       
    animation: loading-transition 3000ms forwards; 
    font-family: $shrikhand;
    color: $tertiary_green;
    font-size: 50px;
    opacity: .5;
    overflow: hidden;            
  }
  
  .loader__frame {            
    animation: loader-scale 1500ms ease-in-out infinite;
    z-index: 100;    
  }
